body {
  background: #F6F3EE;
}

/*TITULO*/
.titulo {
  padding-top: -4em;
  margin-top: 17.5%;
  margin-left:20%;
  text-align: center;
  font-size: 6em;
  opacity: 0.7;
  font-family: 'Orbitron', sans-serif;
}

.titulo:hover {
  color:#ff0e0e;
  transition: all 600ms ease-in-out;
  opacity:1;
}
/*CIRCULOS*/
.circle-container {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 20%; left: 10%;
	width: 15em; height: 15em;
  margin-top: -2.8em;
  margin-left: 7%;
}
.circle-container img { display: block; width: 100%; }
/*iconos*/
.earth {
  margin-left: 20.5em;
  margin-top: 4.2em;
  color:black;
  opacity: 0.8;
}
.earth:hover{
  color:#077c9f;
  transition: all 600ms;
}
.child {
  margin-left: 35.5em;
  margin-top: -5.4em;
  color:black;
  opacity: 0.8;
}
.child:hover{
  color:#077c9f;
  transition: all 600ms;
}
.rocket {
  margin-left: 50.5em;
  margin-top: -5.2em;
  color:black;
  opacity: 0.8;
}
.rocket:hover{
  color:#077c9f;
  transition: all 600ms;
  opacity: 0.8;
}
.cosmo {
  margin-left: 65.5em;
  margin-top: -5.4em;
  color:black;
  opacity: 0.8;
}
.cosmo:hover{
  color:#077c9f;
  transition: all 600ms;
}
/*POP UP*/
h2 {
  font-weight: bold;
  padding-bottom: 1em;
}
.content {
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #F6F3EE;
  border-radius: 5px;
  width: 35%;
  height:42%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color:#ff0e0e;
}
.popup .content {
  max-height: 95%;
  overflow: hidden;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
